.vs/
LiveMessage/LiveMessage.csproj.user
LiveMessage/bin/
LiveMessage/obj/
LiveMessage/AppPackages/LiveMessage_1.0.1.0_Test/
LiveMessage/BundleArtifacts/x64.txt
LiveMessage/AppPackages/
LiveMessage/BundleArtifacts/
LiveMessage/_pkginfo.txt
LiveCanvasComponent/bin/
LiveCanvasComponent/obj/
LogComponent/bin/
LogComponent/obj/
/LiveMessage/Assets/particle_mask - Copy.png
BackgroundTasks/bin/
BackgroundTasks/obj/
bin
obj
*.csproj.user
*.htm